body {
  background-image: url('../assets/pexels-pixabay-86695.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.footer {
  position: relative; /* Change to relative positioning */
  width: 100%;
  background-color: #f8f9fa; /* Adjust background color as needed */
  padding: 20px 0; /* Add padding for spacing */
  text-align: center;
}

.main-container {
  &.div {
    height: calc(100vh - 100px); /* Adjust the value as needed */
  }
}
