body {
  background-image: url('../assets/pexels-pixabay-86695.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed; /* Change to fixed positioning */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.main-container {
  min-height: calc(100vh - 100px); /* Adjust the value as needed */
  padding-bottom: 100px; /* Adjust the value to accommodate the footer height */
}
